extends layout

block content
    .container(style="padding-top: 2vh;")
        .row   
            .col-2(style="padding-left: 0px;")
                img(src="/images/profile-placeholder.png" class="img-fluid" alt="Profile picture")
            .col-10
                h1 #{user.full_name}
                h2 #{user.email}
                - var isAccountOwner = (userId == id)
                if isAccountOwner
                    a(class="btn btn-large brand-color-background" href=`/users/${id}/edit`) Edit Profile
        .row
            .col(style="padding-left: 0px;")
                h2 Protests
                .table-responsive
                    table(class="table")
                        thead
                            tr
                                th(scope="col") Name
                                th(scope="col") Start Time
                        tbody
                            each protest in protests
                                tr
                                    th(scope="row")
                                        a(href=`protests/${protest.id}`)
                                            h2=protest.name
                                    td
                                        - var startDate = moment(protest.start_time).format('LLL');
                                        p=startDate
